<!DOCTYPE html>
<html>
<body>
  <header>
    <h1>Create</h1>
  </header>
  <h1>Add Bank</h1>
  <main>
<form method="POST" action="{% url 'banks:add_bank' %}">
  {% csrf_token %}
  <input type="text" name="name">
  <input type="text" name="description">
  <input type="text" name="inst_num">
  <input type="text" name="swift_code">
  <button type="submit">Submit</button>
</form>
  </main>
    <h1>Add Branch</h1>
    <form method="post" action="">
        {% csrf_token %}
        <label for="id_name">Name:</label>
        {{ form.name }}
        <br>
        <label for="id_transit_num">Transit Number:</label>
        {{ form.transit_num }}
        <br>
        <label for="id_address">Address:</label>
        {{ form.address }}
        <br>
        <label for="id_email">Email:</label>
        {{ form.email }}
        <br>
        <label for="id_capacity">Capacity:</label>
        {{ form.capacity }}
        <br>
        <button type="submit">Add Branch</button>
    </form>
</body>
</html>
