<!DOCTYPE html>
<html>
<head>
    <title>List_View</title>
</head>
<body>
    <h1>All Banks</h1>
    <ul>
        {% for bank in bank_list %}
            <li>{{ bank.id }}: {{ bank.name }}</li>
        {% empty %}
            <li>No banks found.</li>
        {% endfor %}
    </ul>

{% block branches %}
    <h2>All Branches</h2>
    <ul>
    {% for branch in branches %}
        <li>{{ branch.name }} - {{ branch.transit_num }} - {{ branch.address }} - {{ branch.email }} - {{ branch.capacity }}</li>
    {% endfor %}
    </ul>
{% endblock %}
</body>
</html>
